<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="repositories.xml"/>
    <import resource="validators.xml"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
        <property name="mappings">
            <value>
                /projects/new*=projectModificationController
                /projects/new/**=projectModificationController
                /projects/project/**/story/**/details=storyDetailsController
                /projects/project/**/story=storyModificationController
                /projects/project/**/story/**=storyModificationController
                /projects/project/**/edit=projectModificationController
                /projects/project/**/edit/**=projectModificationController
                /projects/**/backlog/**=backlogController
                /projects*=projectController
                /projects/**=projectController
                /people/groups*=groupController
                /people/groups/**=groupController
                /people*=peopleHomeController
                /people/**=peopleHomeController
            </value>
        </property>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/themes/default/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="projectController" class="com.sitewidesystems.backlog.client.mvc.project.ProjectManagementController">
        <property name="listView" value="projects/list"/>
        <property name="createView" value="projects/create"/>
        <property name="editView" value="projects/edit"/>
        <property name="errorView" value="common/error" />
        <property name="projectRepository" ref="projectRepository"/>
        <property name="pathManipulator" ref="pathManipulator" />

    </bean>

    <bean id="storyDetailsController" class="com.sitewidesystems.backlog.client.mvc.StoryDetailsController">
        <property name="defaultView" value="story/details" />
        <property name="errorView" value="common/error" />
        <property name="pathManipulator" ref="pathManipulator" />
        <property name="storyRepository" ref="backlogRepository" />
        <property name="projectRepository" ref="projectRepository" />
    </bean>

    <bean id="backlogController" class="com.sitewidesystems.backlog.client.mvc.BacklogManagementController">
        <property name="listView" value="backlog/list" />
        <property name="errorView" value="common/error" />
        <property name="backlogRepository" ref="backlogRepository" />
        <property name="projectRepository" ref="projectRepository" />
        <property name="pathManipulator" ref="pathManipulator" />
    </bean>

    <bean id="projectModificationController" class="com.sitewidesystems.backlog.client.mvc.project.ProjectModificationController">
        <property name="formView" value="projects/edit" />
        <property name="successView" value="projects/success" />
        <property name="newView" value="projects/new" />
        <property name="commandName" value="project" />
        <property name="commandClass" value="com.sitewidesystems.backlog.model.Project" />

        <property name="projectRepository" ref="projectRepository" />
        <property name="pathManipulator" ref="pathManipulator" />

        <property name="validator" ref="projectValidator" />
    </bean>

    <bean id="storyModificationController" class="com.sitewidesystems.backlog.client.mvc.StoryModificationController">
        <property name="formView" value="story/edit" />
        <property name="successView" value="story/success" />
        <property name="newView" value="story/new" />
        <property name="commandName" value="story" />
        <property name="commandClass" value="com.sitewidesystems.backlog.model.Story" />

        <property name="projectRepository" ref="projectRepository" />
        <property name="storyRepository" ref="backlogRepository" />
        <property name="pathManipulator" ref="pathManipulator" />

        <property name="validator" ref="storyValidator" />
    </bean>

    <bean id="groupController" class="com.sitewidesystems.backlog.client.mvc.people.GroupManagementController">
        <property name="pathManipulator" ref="pathManipulator" />
        <property name="groupRepository" ref="groupRepository" />
        <property name="listView" value="people/group/list" />
    </bean>

    <bean id="peopleHomeController" class="com.sitewidesystems.backlog.client.mvc.BasicViewController">
        <property name="defaultView" value="people/default" />
    </bean>

    <bean id="pathManipulator" class="com.sitewidesystems.backlog.client.util.PathManipulator">
        <property name="defaultOffset" value="0" />
    </bean>

    <bean id="areaDeterminer" class="com.sitewidesystems.backlog.client.util.AreaDeterminer">
        <property name="defaultOffset" value="0" />
    </bean>
</beans>