.create-button,
    .edit-button,
    .delete-button,
    .add-button,
    .save-button,
    .search-button,
    .projects-button,
    .person-create-button,
    .person-find-button,
    .group-create-button,
    .group-manage-button,
    .people-button,
    .backlog-button,
    .details-button,
    .add-category-button,
    .add-note-button,
    .button,
    .iteration-button,
    .edit .title,
    .view .title {
    padding: 3px;
    padding-left: 19px;
    margin: 3px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    display: inline-block;
}

.edit .title,
    .view .title {
    padding: 6px;
    padding-left: 30px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(60, 120, 180);
    display: block;
    background-position: 6px;
}

.create-button {
    background-image: url(../../images/icons/add.png);
}

.edit-button,
    .edit .title {
    background-image: url(../../images/icons/pencil.png);
}

.delete-button {
    background-image: url(../../images/icons/delete.png);
}

.add-button {
    background-image: url(../../images/icons/add.png);
}

.save-button {
    background-image: url(../../images/icons/disk.png);
}

.backlog-button {
    background-image: url(../../images/icons/table.png);
}

.search-button {
    background-image: url(../../images/icons/zoom.png);
}


.projects-button {
    background-image: url(../../images/icons/page_copy.png);
}

.people-button {
    background-image: url(../../images/icons/group.png);
}

.person-create-button {
    background-image: url(../../images/icons/user_add.png);
}

.person-find-button {
    background-image: url(../../images/icons/zoom.png);
}

.group-create-button {
    background-image: url(../../images/icons/group_add.png);
}

.group-manage-button {
    background-image: url(../../images/icons/group_go.png);
}

.add-category-button {
    background-image: url(../../images/icons/folder_add.png);
}

.add-note-button {
    background-image: url(../../images/icons/note_add.png);
}

.iteration-button {
    background-image: url(../../images/icons/cog.png);
}

.details-button,
    .view .title {
    background-image: url(../../images/icons/information.png);
}