
@import "default-modifiers.css";
@import "message-boxes.css";
@import "global-styles.css";
@import "buttons.css";

#project {
    /*border: 1px solid rgb(190,190,190);*/
}

.project-listing,
.edit-project,
.story-listing,
.edit-story {
    margin: 5px;
    margin-bottom: 15px;
    background-color: rgb(255,255,255);
}

.project-listing .title,
.story-listing .title {
    padding: 3px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(60,120,180);
    /*background-color: rgb(200,220,240);*/
}

.project-title {
    font-weight: bold;
    color: rgb(60,120,180);
    display: inline-block;
    margin: 3px;
    padding: 2px;
    border-bottom: 1px dashed rgb(60,120,180);
}

.projects-title,
.backlog-title,
.people-title {
    font-size: 14pt;
    font-weight: bold;
    color: rgb(60,120,180);
    padding: 5px;
}

.project-listing .title a,
.story-listing .title a {
    text-decoration: none;
}

.project-listing .description,
.story-listing .story {
    padding: 5px;
}

.project-listing .toolbar {
    padding: 3px;
    /*border-top: 1px solid rgb(60,120,180);*/
}

.story-title {
    padding: 6px;
    padding-left: 30px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(60,120,180);
    display: block;
    background-position: 6px;
    background-image: url(../../images/icons/book_open.png);
    background-repeat: no-repeat;
}

.category-title {
    padding: 6px;
    padding-left: 30px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(60,120,180);
    display: block;
    background-position: 6px;
    background-image: url(../../images/icons/folder_page.png);
    background-repeat: no-repeat;
}

.notes-title {
    padding: 6px;
    padding-left: 30px;
    font-weight: bold;
    border-bottom: 1px dashed rgb(60,120,180);
    display: block;
    background-position: 6px;
    background-image: url(../../images/icons/note.png);
    background-repeat: no-repeat;
}

.id {
    font-size: 7pt;
    font-weight: normal;
    color: rgb(120,120,120);
}

.item-list {
    padding: 5px;
}

.item-list a {
    display: block;
    color: rgb(80,80,120);
}