
body {
    font-family: verdana, arial, sans-serif;
    font-size: 8pt;
}

body,
input,
th,
table,
textarea,
select {
    color: rgb(60,60,60);
}

a, a:hover {
    color: rgb(60,60,255);
}

a:hover {
    text-decoration: underline;
}

#project {
    border: 1px solid rgb(190,190,190);
}

#appHeader,
#appFooter,
#appBody,
#main-toolbar {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    padding: 3px;
}

#appHeader {
    border-bottom: 2px solid rgb(120,120,120);
    /*border-right: 2px solid rgb(230,230,230);*/
    /*border-left: 2px solid rgb(230,230,230);*/
    /*background-color: rgb(230,230,230);*/
    height: 50px;
    font-size: 30pt;
    font-weight: bold;
    color: rgb(60,120,180);
    margin-bottom: 10px;
}

#main-toolbar {
    border: 1px solid rgb(60,120,180);
    padding: 10px;
    width: 880px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#appFooter {
    border-top: 2px solid rgb(60,120,180);
    background-color: rgb(220,240,250);
}

.project-listing,
.edit-project {
    border: 1px solid rgb(60,120,180);
    margin: 5px;
    background-color: rgb(250,250,255);
}

.project-listing .title,
.edit-project .title {
    padding: 3px;
    font-weight: bold;
    border-bottom: 1px solid rgb(60,120,180);
    background-color: rgb(200,220,240);
}

.project-listing .title a {
    text-decoration: none;
}

.project-listing .description {
    padding: 5px;
}

.project-listing .toolbar {
    padding: 3px;
    font-weight: bold;
    /*border-top: 1px solid rgb(60,120,180);*/
}

#project-toolbar,
#story-toolbar {
    width: 150px;
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(60,120,180);
    background-color: rgb(255,255,255);

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    display: block;
}

#project-list,
#backlog {
    width: 730px;
    margin-left: 170px;
    min-height: 100px;
}

.create-button,
.edit-button,
.projects-button,
.backlog-button {
    padding: 2px;
    padding-left: 20px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    display: inline-block;
}

.create-button {
    background-image: url(../../images/icons/add.png);
}

.edit-button {
    background-image: url(../../images/icons/pencil.png);
}

.backlog-button {
    background-image: url(../../images/icons/table.png);
}

.projects-button {
    background-image: url(../../images/icons/page_copy.png);
}

th {
    font-size: 10pt;
    font-weight: bold;
    background-color: rgb(220,240,255);
    border-right: 1px solid rgb(60,120,180);
}

#error {
    border: 2px solid rgb(180,60,80);
    padding: 10px;
    margin: 10px;
    background-color: rgb(250,240,240);
    padding-left: 30px;
    background-image: url(../../images/icons/error.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}